
.card {
  background-color: red;
  padding: 15px 100px;
  position: relative;
  text-align: left; 
  border: 1px solid black;
}

.table *{
  position: relative;
}


.bottomscreen {
  position: absolute;
  padding: 10px;
}
