body{
    background-color: #C2EEFF;
	/*background-image: url("http://subtlepatterns.com/patterns/wild_flowers.png");*/
	font-family: 'Palatino', 'Tahoma';

}

p{
    text-align: center;
	font-size: 20px;
	color: #61777F;
}

h1, h2{
  text-align: center;
	color: #61777F;
}

.image{
  margin: 0 auto;
}

#fade{
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT_4IdSbDOCsx-7RdtWy1sg8jIApK6PqVJHrLNDgT_d1EHIltJc);
  background-repeat: repeat;
  width: 500px; 
height: 214px; 
margin: 0;
padding: 0;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

#fade:hover{
  background-image: url(http://25.media.tumblr.com/tumblr_lu03bquYET1qztmnoo1_500.gif);
  background-repeat: no-repeat;
  width: 500px; 
height: 214px; 
margin: 0;
padding: 0;
}

#navigation li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}

#navigation li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #5EAECC;
        font-size: 1.6em;
        margin: 0 0.5em;
}

#navigation li a:hover {
        color: #75D9FF;
}

#navigation_container {
   margin: 0 auto;
   width: 960px;
}

.rectangle {
   background: #3B6D7F;
   height: 62px;
   width: 800px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
   z-index: 500; /* the stack order: foreground */
   margin: 3em 0;
}
