body{
	/*background-color: #00FFFF;
	background-image: url("imgres.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	background: #00FFFF url("imgres.jpg") no-repeat fixed center;*/
	background-image: url("http://subtlepatterns.com/patterns/wild_flowers.png");
	font-family: 'Kavoon', cursive;
}

p{
	font-size: 20px;
	color: #222222;
}

h1{
	color: #FF0000;
}

h3{
	color: #FF0000;
}
